{% extends 'layout.html '%}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">
            <form action="/agregar" method="POST" class="formulario">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="correo" placeholder="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7 pt-4">
        <table class="table table-stripe table-bordered bg-dark table-sm">
            <thead>
                <tr>
                    <td class="titulosTable">Nombre</td>
                    <td class="titulosTable">Telefono</td>
                    <td class="titulosTable">Correo</td>
                    <td class="titulosTable">Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{contact.1}}</td>
                    <td>{{contact.2}}</td>
                    <td>{{contact.3}}</td>
                    <td>
                        <a href="/editar/{{contact.0}}" class="btn btn-secondary">Editar</a>
                        <a href="/eliminar/{{contact.0}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}